
.row-header{
    margin:0px auto;;
    padding:0px auto;
}

.row-content{
    margin:0px auto;;
    padding-top: 30px;
    
    border-bottom:1px ridge rosybrown;
    min-height: 250px;
}
.footer{
    background-color:lavender;
    margin: auto;
    padding:20px;
}
.jumbotron{
    background-color: lightcoral;
    margin: 0px auto;
    color:black;
    padding:25px;
}
h1{
    font-size:50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}